$color-background-main: #2c2f36;
$color-background-secondary: #c0392b;
$color-background-nonactive: #d4564a;
$color-background-blur: #2c2f36;

$color-text-main: #fbfbfb;
$color-text-description: #e0e0e0;
$color-text-nonactive: #e0e0e0;

:root {
  --color-background-main: #2c2f36;
  --color-background-secondary: #c0392b;
  --color-background-nonactive: #d4564a;
  --color-background-blur: #2c2f36;

  --color-text-main: #fbfbfb;
  --color-text-description: #e0e0e0;
  --color-text-nonactive: #e0e0e0;
}
