.products {
  margin-top: 40px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

@media (max-width: 992px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 24px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
  }
}

@media (max-width: 575px) {
  .products {
    margin-top: 40px;
  }
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 15px;
  }
}
