.products {
  margin-top: 15px;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}

@media (max-width: 575px) {
  .products {
    margin-top: 40px;
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
  }
}
