@use '../../styles/mixins';

.novelty {
  padding: 20px 0;
  min-height: 649px;
}
.title {
  @include mixins.h2;
}
.slider {
  margin-top: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 40px;
  transition: transform 0ms ease;
}
.slideItem {
  flex: 0 0 auto;
}
.arrows {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.message {
  margin-top: 40px;
  @include mixins.h3;
}

@media (max-width: 992px) {
  .title {
    @include mixins.h2-992;
  }
  .slider {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .title {
    @include mixins.h2-768;
  }
  .slider {
    margin-top: 20px;
    gap: 20px;
  }
  .arrows {
    margin-top: 20px;
    gap: 45px;
  }
}

@media (max-width: 575px) {
  .slider {
    gap: 0;
  }
  .arrows {
    margin-top: 20px;
    gap: 45px;
    margin-bottom: 40px;
  }
}
