@use '../../styles/mixins';
@use '../../styles/vars';

.footer {
  background-color: vars.$color-background-secondary;
  padding: 60px 0 100px;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 102px;
  }
  &__tel {
    @include mixins.h3;
    color: vars.$color-text-main;
    text-decoration: none;
    font-size: 35px;
  }
  &__workTime {
    @include mixins.description;
    font-size: 15px;
    margin-top: 5px;
  }
  &__nav {
    max-width: 180px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include mixins.description;
    &Link {
      color: vars.$color-text-main;
      font-size: 25px;
      letter-spacing: -6%;
      text-decoration: none;
    }
    &File {
      font-size: 16px;
      color: vars.$color-text-main;
      text-decoration: none;
      letter-spacing: 0;
    }
  }
}

@media (max-width: 575px) {
  .footer {
    padding: 60px 0 60px 0;
    &__container {
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
    }
    &__nav {
      @include mixins.descriptionMobile;
      &Link {
        font-size: 20px;
        color: vars.$color-text-main;
      }
      &File {
        font-size: 16px;
        color: vars.$color-text-main;
      }
    }
    &__tel {
      @include mixins.h3;
      font-size: 35px;
    }
    &__workTime {
      margin-top: 10px;
    }
  }
}
