.page {
  padding: 40px 0 100px 0;
}

.content {
  margin-top: 40px;
}

.mainInfo {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.mainText {
  padding-top: 11px;
  width: 100%;
  min-width: 0;
  flex: 1 1 320px;
}

.title {
  font-size: 75px;
  font-weight: 500;
  color: white;
  overflow-wrap: anywhere; /* современно */
  word-wrap: break-word; /* алиас для старых браузеров */
  word-break: break-word; /* подстраховка */
  hyphens: auto;
}

.description {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.06em;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.characteristics {
  margin-top: 60px;
}

.subtitle {
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  color: white;
  letter-spacing: -6%;
}

.list {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  display: flex;
  gap: 10px;
  font-size: 18px;
  letter-spacing: -6%;
  font-weight: 500;
  color: white;
}

.itemWrapper {
  width: 590px;
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.itemName {
  flex-shrink: 0;
}

.underline {
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  opacity: 20%;
}
