.slider {
  width: 460px;
}

.actions {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 40px;
  align-items: center;
}

.button {
  background-color: transparent;
  border: none;
  border-radius: 100%;
  padding: 0;
  cursor: pointer;
}

.mainImg {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
}

.slide {
  width: 106px;
  height: 69px;
  padding: 0;
  border: none;
  border-radius: 4px;
  outline: none;
}

.slideImg {
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  object-fit: cover;
}

.slideImg:hover {
  scale: 1.05;
  transition: scale 0.1s ease;
}

@media (max-width: 992px) {
  .slider {
    max-width: 446px;
    width: 50%;
  }
  .mainImg {
    width: 100%;
  }
  .actions {
    margin-top: 40px;
  }
  .buttons {
    gap: clamp(5px, 2.8vw, 40px);
  }
  .slide {
    max-width: 106px;
    width: clamp(80px, 12vw, 106px);
  }
}

@media (max-width: 768px) {
  .slider {
    width: 100%;
    max-width: 688px;
    max-height: 557px;
  }
  .mainImg {
    width: 100%;
    max-height: 448px;
    height: 100%;
  }
  .actions {
    justify-content: center;
    gap: 44px;
  }
  .buttons {
    gap: 40px;
  }
  .slide {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .slider {
    width: 100%;
  }
  .mainImg {
    max-height: clamp(189px, 59.75vw, 355px);
  }
  .actions {
    margin-top: 20px;
    gap: unset;
    justify-content: space-between;
  }
  .buttons {
    gap: clamp(5px, 9vw, 40px);
  }
  .slide {
    width: 75px;
    height: 49px;
  }
  .slideImg {
    width: 100%;
    height: 100%;
    border: none;
  }
}
