@use '../../styles/mixins';

.product {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;

  &__image {
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    object-fit: cover;
    max-width: 260px;
    height: auto;
  }
  &__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
  }
  &__description {
    @include mixins.description;
    text-align: center;
    font-size: 18px;
  }
  &__title {
    @include mixins.h6;
  }
  &__price {
    @include mixins.h6;
    margin-top: auto;
  }
}

@media (max-width: 575px) {
  .product {
    width: 100%;
    &__image {
      width: 100%;
      border-radius: 6px;
    }
    &__title {
      @include mixins.h3Mobile;
      text-align: center;
    }
    &__description {
      @include mixins.descriptionMobile;
      text-align: center;
    }
    &__price {
      @include mixins.h3Mobile;
    }
    &.novelty {
      width: 100%;
      .product__image {
        max-width: 340px;
        margin: 0 auto;
      }
    }
  }
}
