@use '../../styles/mixins';

.product {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  max-width: 260px;
}
.image {
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}
.description {
  @include mixins.productDescription;
  text-align: center;
  font-size: 18px;
}
.title {
  @include mixins.h3;
}
.price {
  @include mixins.h3;
  margin-top: auto;
}

@media (max-width: 992px) {
  .product {
    max-width: 288px;
    width: 100%;
  }
  .title {
    @include mixins.h3-992;
  }
  .price {
    @include mixins.h3-992;
  }
  .description {
    @include mixins.productDescription-992;
  }
}

@media (max-width: 768px) {
  .product {
    max-width: 334px;
  }
}

@media (max-width: 575px) {
  .product {
    max-width: 100%;
    width: 100%;
    &.novelty {
      width: 100%;
      .image {
        margin: 0 auto;
      }
    }
  }
  .image {
    width: 100%;
    border-radius: 6px;
  }
}
