.catalog {
  &__filters {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    &Arrow {
      margin-top: 4px;
    }
  }
  &__filter {
    position: relative;
    flex: 0 0 auto;
  }
}

@media (max-width: 575px) {
  .catalog {
    &__filters {
      flex-wrap: nowrap;
      gap: 0;
      justify-content: space-between;
      flex-wrap: nowrap;
      cursor: grab;
    }
    &__filter {
      flex: 0 0 auto;
    }
  }
}
