@use '../../styles/mixins';

.catalog {
  padding: 20px 0 40px 0;
}
.title {
  @include mixins.h1;
}
.actions {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.buttons {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .actions {
    justify-content: flex-start;
    gap: 20px;
  }
}

@media (max-width: 992px) {
  .title {
    @include mixins.h1-992;
  }
}

@media (max-width: 768px) {
  .title {
    @include mixins.h1-768;
  }
}

@media (max-width: 575px) {
  .actions {
    gap: 15px;
  }
  .title {
    @include mixins.h1-768;
  }
  .buttons {
    padding-top: 20px;
  }
}
